.menu{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.rect {
    background-color:  #fc8019;
    width: 2.5rem;
    height: 0.5rem;
    margin-bottom: 4px;
    cursor: pointer;
}
.rect:last-child {
    margin-bottom: 0;
  }
.cross{
  font-size: 4rem;
  font-weight: 600;
  color: #fc8019;
  margin-right: 10px;
  height: 80px;
  position: relative;
  width: 20px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media screen and (min-width: 600px){
    .rect{
        display: none;
    }
    .cross{
      display: none;
    }
}